*magaox_git_version.h
*.gch
*.o
*.a
*.so
*html/
local/
!local/common.example.mk
!local/config.example.mk
**/a.out
**/tests/*.binlog
**/.*~
**/*.stash
**/*-swp

**/bin/
**/moc/

#Ignore any old folders
**/old/

#Ignore any generated code directories:
**/generated/

#Executables and app specifics to ignore:
INDI/INDI/evalINDI
INDI/INDI/getINDI
INDI/INDI/indiserver
INDI/INDI/setINDI
INDI/xindidriver/xindidriver

apps/baslerCtrl/baslerCtrl

apps/trippLitePDU/trippLitePDU
apps/trippLitePDU/tests/

apps/magAOXMaths/magAOXMaths

apps/xindiserver/tests/remoteDriver_test
apps/xindiserver/tests/tunneledHost_test
apps/xindiserver/tests/xindiserver_test
apps/xindiserver/xindiserver

apps/sysMonitor/sysMonitor

apps/sshDigger/sshDigger

apps/zaberCtrl/zaberCtrl

apps/siglentSDG/siglentSDG
apps/siglentSDG/tests/siglentSDG_test

apps/ttmModulator/ttmModulator

apps/filterWheelCtrl/filterWheelCtrl

apps/ocam2KCtrl/ocam2KCtrl

apps/streamWriter/streamWriter

apps/mzmqServer/mzmqServer
apps/mzmqClient/mzmqClient

apps/picamCtrl/picamCtrl

apps/xt1121Ctrl/xt1121Ctrl

apps/xt1121DCDU/xt1121DCDU


utils/logdump/logdump
utils/cursesINDI/cursesINDI
utils/xrif2shmim/xrif2shmim

tests/singleTest
tests/testMagAOX
tests/testMagAOXsetuid

#Devel stuff in flatlogs
flatlogs/src/flatlogcodes
flatlogs/src/logCodes.dat

.vagrant/
.DS_Store
setup/vendor_software_bundle.tar.gz
