*magaox_git_version.h
*.gch
*.o
*.a
*.so
doc/output
local/
!local/common.example.mk
!local/config.example.mk
**/a.out
**/tests/*.binlog
**/.*~
**/*.stash
**/*-swp
**/res/
ui*.h

**/bin/
**/moc/
**/moc_*
makefile.*GUI

#Ignore any old folders
**/old/

#Ignore any generated code directories:
**/generated/

libMagAOX/doc/sw_html/
apps/doc/
doc/www/

#ignore test executables
**/tests/*_test

#Carcich temporary files
x.x

##########################################
#Executables and app specifics to ignore:
On branch fix/20221202-provisioning-working
Your branch is up to date with 'origin/fix/20221202-provisioning-working'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
#C
apps/CGFSMHIfpga/CGFSMHIfpga
apps/CGFSMUIfpga/CGFSMUIfpga
apps/CGraphFSMHardwareInterface/CGFSM

nothing added to commit but untracked files present (use "git add" to track)

#a
apps/adcTracker/adcTracker
apps/alpaoCtrl/alpaoCtrl
apps/andorCtrl/andorCtrl
apps/acronameUsbHub/acronameUsbHub
apps/acronameUsbHub/utils/configusbhub
apps/alignLoop/alignLoop

#b
apps/baslerCtrl/baslerCtrl
apps/bmcCtrl/bmcCtrl

#c
apps/cacaoInterface/cacaoInterface

#d
apps/dmMode/dmMode
apps/dmModulator/dmModulator
apps/dmSpeckle/

#f
apps/filterWheelCtrl/filterWheelCtrl
apps/flipperCtrl/flipperCtrl

apps/magAOXMaths/magAOXMaths

#g/gui
gui/rtimv/plugins/cameraStatus/makefile.cameraStatus
gui/rtimv/plugins/indiDictionary/makefile.indiDictionary
gui/rtimv/plugins/pwfsAlignment/makefile.pwfsAlignment
gui/rtimv/plugins/dmStatus/makefile.dmStatus

#h
apps/hoPredCtrl/hoPredCtrl
apps/hsfwCtrl/hsfwCtrl

#i
INDI/INDI/evalINDI
INDI/INDI/getINDI
INDI/INDI/indiserver
INDI/INDI/setINDI
INDI/xindidriver/xindidriver

#k
apps/kTracker/kTracker
apps/koolanceCtrl/koolanceCtrl

#m
apps/mwfsMonitor/mwfsMonitor
apps/mzmqServer/mzmqServer

apps/mzmqClient/mzmqClient


#o
apps/observerCtrl/observerCtrl
apps/ocam2KCtrl/ocam2KCtrl

#p
apps/pi335Ctrl/pi335Ctrl
apps/picamCtrl/picamCtrl
apps/picoMotorCtrl/picoMotorCtrl
apps/pupilAlign/pupilAlign
apps/pupilFit/pupilFit
apps/pwfsSlopeCalc/pwfsSlopeCalc
apps/photonCounter

#r
apps/rhusbMon/rhusbMon
apps/refRMS/refRMS
apps/resurrector/resurrector_indi
apps/resurrector/test/test_resurrector

#s
apps/shmimIntegrator/shmimIntegrator
apps/siglentSDG/siglentSDG
apps/siglentSDG/tests/siglentSDG_test
apps/smc100ccCtrl/smc100ccCtrl
apps/sshDigger/sshDigger

apps/streamWriter/streamWriter

apps/sysMonitor/sysMonitor

#t
apps/t2wOffloader/t2wOffloader
apps/timeSeriesSimulator/timeSeriesSimulator
apps/tcsInterface/tcsInterface
apps/trippLitePDU/trippLitePDU
apps/trippLitePDU/tests/

apps/ttmModulator/ttmModulator

#u
apps/usbtempMon/usbtempMon
apps/userGainCtrl/userGainCtrl

#w
apps/w2tcsOffloader/w2tcsOffloader

#x
apps/xindiserver/tests/remoteDriver_test
apps/xindiserver/tests/tunneledHost_test
apps/xindiserver/tests/xindiserver_test
apps/xindiserver/xindiserver

apps/xt1121Ctrl/xt1121Ctrl

apps/xt1121DCDU/xt1121DCDU

#z
apps/zaberCtrl/zaberCtrl
apps/zaberLowLevel/zaberLowLevel
apps/zylaCtrl/zylaCtrl

##########################################
#Executables and util specifics to ignore:


utils/logdump/logdump
utils/cursesINDI/cursesINDI
utils/logstream/logstream
utils/xrif2shmim/xrif2shmim
utils/xrif2fits/xrif2fits

utils/doc

###########################3
#test files to ignore
tests/singleTest
tests/testMagAOX
tests/testMagAOXsetuid

#Devel stuff in flatlogs
flatlogs/src/flatlogcodes
flatlogs/src/logCodes.dat

.vagrant/
.DS_Store
.vscode
.ipynb_checkpoints
setup/bundle.zip
vm/cache/
vm/calib/
vm/config/
vm/
setup/qhyccd_container/sdk_linux64_22.02.17.tgz
CGraphFSMHardwareInterface.cpp.lst
