*magaox_git_version.h
*.gch
*.o
*.a
*.so
*html/
local/
!local/common.example.mk
!local/config.example.mk
**/a.out
**/tests/*.binlog
**/.*~

#Ignore any old folders
**/old/

#Ignore any generated code directories:
**/generated/

#Executables and app specifics to ignore:
INDI/INDI/evalINDI
INDI/INDI/getINDI
INDI/INDI/indiserver
INDI/INDI/setINDI
INDI/xindidriver/xindidriver

apps/trippLitePDU/trippLitePDU
apps/trippLitePDU/tests/

apps/magAOXMaths/magAOXMaths

apps/xindiserver/tests/remoteDriver_test
apps/xindiserver/tests/tunneledHost_test
apps/xindiserver/tests/xindiserver_test
apps/xindiserver/xindiserver

apps/sshDigger/sshDigger

apps/zaberCtrl/zaberCtrl

apps/siglentSDG/siglentSDG
apps/siglentSDG/tests/siglentSDG_test

apps/ttmModulator/ttmModulator

utils/logdump/logdump
utils/cursesINDI/cursesINDI

#Devel stuff in flatlogs
flatlogs/src/flatlogcodes
flatlogs/src/logCodes.dat

.vagrant/
