[Unit]
Description=CACAO
Requires=make_cpusets.service
After=make_cpusets.service
Before=multi-user.target

[Service]
Type=forking
User=xsup
ExecStart=/usr/bin/bash -l /opt/MagAOX/bin/cacao_startup_if_present
Environment=TERM=xterm

[Install]
WantedBy=default.target