[Unit]
Description=CACAO
Requires=make_cpusets.service
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=xsup
ExecStart=bash -l /opt/MagAOX/bin/cacao_startup_if_present

[Install]
WantedBy=default.target
