[Unit]
Description=Jupyter Notebook
Requires=network.target
After=network.target

[Service]
User=xsup
WorkingDirectory=/home/xsup
ExecStart=/opt/miniconda3/bin/start_notebook.sh

[Install]
WantedBy=default.target
