[Unit]
Description=xctrl startup
Requires=cacao_startup_if_present.service
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=xsup
ExecStart=xctrl startup

[Install]
WantedBy=default.target
