name: Build UTM ARM virtual machine
on:
  # workflow_run:
  #   workflows: ["Rocky build"]
  #   types: [completed]
  push:
    branches: [xvm]
jobs:
  build-utm-arm64:
    runs-on: macos-14
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache Rocky ISO
        uses: actions/cache@v4
        with:
          path: setup/xvm/input/iso
          key: rocky-iso-${{ hashFiles('setup/xvm/_common.sh','setup/xvm/download_rocky_iso.sh') }}
          restore-keys: |
            rocky-iso-${{ hashFiles('setup/xvm/_common.sh','setup/xvm/download_rocky_iso.sh') }}
      - name: Cache first stage VM
        uses: actions/cache@v4
        with:
          path: |
            setup/xvm/output/xvm_stage1.qcow2
            setup/xvm/output/xvm_key.pub
            setup/xvm/output/xvm_key
            setup/xvm/output/AAVMF_VARS.fd
            setup/xvm/input/firmware/AAVMF_CODE.fd
          key: xvm-stage1-${{ runner.os }}-${{ hashFiles('setup/xvm/_common.sh','setup/xvm/download_rocky_iso.sh','setup/xvm/build_vm_stage1.sh','setup/xvm/download_firmware.sh','setup/xvm/create_oemdrv.sh','setup/xvm/kickstart/ks.cfg') }}
          restore-keys: |
            xvm-stage1-${{ runner.os }}-${{ hashFiles('setup/xvm/_common.sh','setup/xvm/download_rocky_iso.sh','setup/xvm/build_vm_stage1.sh','setup/xvm/download_firmware.sh','setup/xvm/create_oemdrv.sh','setup/xvm/kickstart/ks.cfg') }}
      - name: Download Rocky ISO
        run: |
          cd $GITHUB_WORKSPACE/setup/xvm/
          bash download_rocky_iso.sh
      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - name: Install QEMU
        run: |
          sysctl machdep.cpu
          brew install qemu
      - name: Create VM and install Rocky 9
        run: |
            cd $GITHUB_WORKSPACE/setup/xvm/
            bash build_vm_stage1.sh
      # - name: Install MagAO-X software
      #   run: |
      #       cd $GITHUB_WORKSPACE/setup/xvm/
      #       bash build_vm_stage2.sh
      # - name: Create UTM bundle
      #   run: |
      #       cd $GITHUB_WORKSPACE/setup/xvm/
      #       bash bundle_utm.sh
      # - name: Upload UTM image
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: MagAO-X_VM
      #     path: |
      #       setup/xvm/output/MagAO-X_VM_bundle.tar.xz
      #       setup/xvm/output/xvm_key
      #       setup/xvm/output/xvm_key.pub
